body{
    background-color: black;
}

*{
    font-family: 'Arial';
}

.lists{
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
}



.Edit{
    padding: 1vh 4vh 1vh 4vh;
    margin: 10px;
    border-radius: 10px;
    background-color:rgb(32, 214, 15);
    font-weight: 600;
    transition: ease-in-out;
    transition-duration: 2ms;
}

.Delete{
    padding: 1vh 4vh 1vh 4vh;
    margin: 10px;
    border-radius: 10px;
    background-color:rgb(234, 23, 12);
    font-weight: 600;
    transition: ease-in-out;
    transition-duration: 2ms;
}

.Edit:hover{
    background-color: rgb(26, 184, 11);
}
.Delete:hover{
    background-color: rgb(186, 14, 5);
}